<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Cabin+Sketch|Frijole|Fugaz+One|Monofett|Oleo+Script|Playball|Shojumaru" rel="stylesheet">
  <link rel="shortcut icon" href="../assets/images/logo-pestaña.png">
  <title>Name</title>
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/select.css">
</head>
<body>
  <div class="cyan lighten-5 container">
    <div class="height row">
      <div class="col offset-l4 offset-s2 s8 l4">
        <div class="center-align logo">
          <p>No estás solo</p>
        </div>
      </div>
    </div>
    <div class="height row">
      <div class="col offset-l4 offset-s2 s8 l4">
        <div class="center-align text">
          <p>¡Bienvenida!</p>
          <p>Acabas de dar un gran paso. Creemos en ti y sobre todo recuerda que jamás estarás solo (a)</p>
          <p>Por favor elige la enfermedad contra la que estás luchando.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col offset-s2 s8 offset-l4 l4">
        <select class="icons">
          <option value="" disabled selected>Elige una opción</option>
          <option value="" data-icon="" class="left circle">Anorexia</option>
          <option value="" data-icon="" class="left circle">Obesidad</option>
          <option value="" data-icon="" class="left circle">Acné</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col offset-s2 s8 offset-l4 l4">
        <a class="waves-effect waves-light btn btn-margin">Conectarse</a>
      </div>
    </div>
  </div>
  <!--Scripts-->
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script src="../vendors/materialize/js/materialize.js"></script>
  <script src="../js/select.js"></script>
</body>
</html>
